
<h1>Forms</h1>
<hr/>
<div ng-controller="FormController">
  <ul class="nav nav-tabs">
    <li class="active"><a>Forms</a></li>
    <li><a href="#/user/{{user.id || 0}}/form/{{form.id || 0}}/fields" ng-class="{disabled: !form.id}">Fields</a></li>
  </ul>
  <div class="tab-content">
    <div id="forms" class="tab-pane fade in active">
      <table border="2" class="table table-striped">
        <tr>
          <th> <span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
          <th> <span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
        </tr>
        <tr>
          <td>
            <input type="text" placeholder="name" ng-model="form.title" class="form-control"/>
          </td>
          <td><i ng-click="addForm()" class="glyphicon glyphicon-plus"></i><i ng-click="updateForm()" class="glyphicon glyphicon-ok pull-right"></i></td>
        </tr>
        <tr ng-repeat="form in forms">
          <td>{{form.title}}</td>
          <td><i ng-click="deleteForm($index)" class="glyphicon glyphicon-remove"></i><i ng-click="selectForm($index)" class="glyphicon glyphicon-pencil pull-right"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>