-
  var leftMemuList = [
    ['Home', '/assignment/home.html'],
    ['Profile', '/assignment/profile.html'],
    ['Admin', '/assignment/admin.html'],
    ['Forms', '/assignment/forms.html']]
.list-group
  each menuItem in leftMemuList
    - if (menuItem[1] === pagePath)
        a.current-left-nav-link.list-group-item(href='#{menuItem[1]}')
          | #{menuItem[0]}
    - else
      a.list-group-item(href='#{menuItem[1]}')
          | #{menuItem[0]}
