extends _layout

block vars
  -
    pagePath = '/assignment/forms.html'

block styles
  link(href='css/datepicker.css', rel='stylesheet')

block content
  h1 Forms
  hr
  ul.nav.nav-tabs
    //li
    //  a(data-toggle='tab' href='#forms') Forms
    //li.active
    //  a(data-toggle='tab' href='#fields') Fields
    li
      a(href='/assignment/forms.html') Forms
    li.active
      a(href='/assignment/form-fields.html') Fields
  div.tab-content
    div#forms.tab-pane.fade
      table.table.table-striped(border='2')
        tr
          th 
            span.glyphicon.glyphicon-triangle-bottom
            |  Form Name
          th 
            span.glyphicon.glyphicon-triangle-bottom
            |  Action
        tr
          td
            input.form-control(type='text' placeholder='name')
          td
            i.glyphicon.glyphicon-plus
            i.glyphicon.glyphicon-ok.pull-right
        tr
          td Registration Form
          td
            i.glyphicon.glyphicon-remove
            i.glyphicon.glyphicon-pencil.pull-right
        tr
          td Contact List
          td
            i.glyphicon.glyphicon-remove
            i.glyphicon.glyphicon-pencil.pull-right
        tr
          td To Do List
          td
            i.glyphicon.glyphicon-remove
            i.glyphicon.glyphicon-pencil.pull-right
    div#fields.tab-pane.fade.in.active
      form
        div.form-group
          div.row
            div.col-sm-8
              label(for='firstNameInput') First Name
              input#firstNameInput.form-control(type='text' placeholder='First Name')
            div.col-sm-1
              i.glyphicon.glyphicon-align-justify
            div.col-sm-1
              i.glyphicon.glyphicon-plus
            div.col-sm-1
              i.glyphicon.glyphicon-ok
            div.col-sm-1
              i.glyphicon.glyphicon-pencil
        div.form-group
          div.row
            div.col-sm-8
              label(for='lastNameInput') Last Name
              input#lastNameInput.form-control(type='text' placeholder='Last Name')
            div.col-sm-1
              i.glyphicon.glyphicon-align-justify
            div.col-sm-1
              i.glyphicon.glyphicon-plus
            div.col-sm-1
              i.glyphicon.glyphicon-ok
            div.col-sm-1
              i.glyphicon.glyphicon-pencil
        div.form-group
          div.row
            div.col-sm-8
              label(for='dateOfBirthSelect') Date of Birth
              div.input-append.date(data-date='10-03-2015' data-date-format="dd-mm-yyyy")
                input.form-control.datepicker(type='text' value='10-03-2015' data-provider='datepicker')
                span.add-on
                  i.icon-th
            div.col-sm-1
              i.glyphicon.glyphicon-align-justify
            div.col-sm-1
              i.glyphicon.glyphicon-plus
            div.col-sm-1
              i.glyphicon.glyphicon-ok
            div.col-sm-1
              i.glyphicon.glyphicon-pencil
        div.form-group
          div.row
            div.col-sm-8
              label(for='genderSelect') Gender
              select#genderSelect.form-control
                each gender in ['Male', 'Female']
                  option(value='#{gender}')= gender
            div.col-sm-1
              i.glyphicon.glyphicon-align-justify
            div.col-sm-1
              i.glyphicon.glyphicon-plus
            div.col-sm-1
              i.glyphicon.glyphicon-ok
            div.col-sm-1
              i.glyphicon.glyphicon-pencil
        div.form-group
          div.row
            div.col-sm-8
              label(for='rolesCheckbox') Roles
              div#rolesCheckbox
                each gender in ['Admin', 'Student', 'User']
                  div.checkbox
                    label
                      input(type='checkbox' value='#{gender}')
                      = gender
            div.col-sm-1
              i.glyphicon.glyphicon-align-justify
            div.col-sm-1
              i.glyphicon.glyphicon-plus
            div.col-sm-1
              i.glyphicon.glyphicon-ok
            div.col-sm-1
              i.glyphicon.glyphicon-pencil
        div.form-group
          div.row
            div.col-sm-8
              label(for='agreementRadioBtn') Roles
              div#agreementRadioBtn
                each option in ['Yes', 'No']
                  div.radio
                    label
                      input(type='radio' name='agreement' value='#{option}')
                      = option
            div.col-sm-1
              i.glyphicon.glyphicon-align-justify
            div.col-sm-1
              i.glyphicon.glyphicon-plus
            div.col-sm-1
              i.glyphicon.glyphicon-ok
            div.col-sm-1
              i.glyphicon.glyphicon-pencil
        hr
        div.form-group
          div.row
            div.col-sm-8
              label(for='addNewFieldSelect') Add new Field
              select#addNewFieldSelect.form-control
                each option in ['Single Line Text', 'Date', 'Dropdown', 'Checkboxes', 'Radio buttons', 'Paragraph Text Field']
                  option(value='#{option}')= option
            div.col-sm-1.col-sm-offset-1
              i.glyphicon.glyphicon-plus

block scripts
  script(src='/assignment/js/bootstrap-datepicker.js')
  script(src='/assignment/js/forms.js')
