extends _layout

block vars
  -
    pagePath = '/assignment/login.html'

block content
  h1 Login
  hr

  form.form-horizontal
    div.form-group
      label.col-sm-2.control-label(for='inputUsername') Username
      div.col-sm-7
        input#inputUsername.form-control(type="text" placeholder='User Name')
    div.form-group
      label.col-sm-2.control-label(for='inputPassword') Password
      div.col-sm-7
        input#inputPassword.form-control(type="password" placeholder='Password')
    div.form-group
      div.col-sm-offset-2.col-sm-7
        a.btn.btn-default(href='/assignment/profile.html') Log in
