footer
  hr
  div.containter
    div.row
      div.col-xs-6.col-xs-offset-3
        ul.list-inline.text-center
          li
            a(href='https://www.linkedin.com/in/bohan-xu-7335b275' target='_blank')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-linkedin-square.fa-stack-1x.fa-inverse
          li
            a(href='mailto:xu.bo@husky.neu.edu')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-google.fa-stack-1x.fa-inverse
          li
            a(href='https://github.com/BohanHsu/cs5610fall2015' target='_blank')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-github.fa-stack-1x.fa-inverse

          li
            a(href='http://portal-cs5610online.rhcloud.com/#/' target='_blank')
              span
                | CS5610 Fall 2015
          li
            a(href='https://docs.google.com/document/d/1cSuOVT3Ai2myQ1AKA4ZgGwdNHCz2q7ynjVxYfjY0fXE/edit' target='_blank')
              span
                | Project Proposal
                
          li
            a.normalText
              span
                | &copy Bohan Xu
