footer
  hr
  div.containter
    div.row
      div.col-xs-6.col-xs-offset-3
        ul.list-inline.text-center
          li
            a
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-linkedin-square.fa-stack-1x.fa-inverse
          li
            a
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-google.fa-stack-1x.fa-inverse
          li
            a
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-github.fa-stack-1x.fa-inverse
          li
            a
              span
                | CS5610 Fall 2015
          li
            a
              span
                | &copy Bohan Xu
