html(lang='en' ng-app='TasteOfApp')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(href='/css/flatly.css' rel='stylesheet')
    link(href='/css/custom.min.css' rel='stylesheet')
    title!= title

  body
    include ./_header.jade

    div.container
      block content


    a(href='/login/logout')
      |logout

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-route/angular-route.min.js')
    script(src='/js/custom.js')

    block scripts
