block vars

html(lang='en' ng-app='#{appName}')
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  link(href='/vendor/spinner.css' rel='stylesheet')
  link(href='/vendor/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
  link(href='/css/flatly.css' rel='stylesheet')
  link(href='/css/style.css' rel='stylesheet')
  link(href='/css/custom.min.css' rel='stylesheet')
  link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
  link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
  

  block style

  title!= title

body
  include ./_header.jade

  div.container
    block content

  include ./_footer.jade

  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
  script(src='/vendor/angular/angular.min.js')
  //-script(src='/vendor/angular-ui/build/angular-ui.min.js')
  script(src='/vendor/angular-route/angular-route.min.js')
  script(src='/js/custom.js')

  block scripts
