block vars

html(lang='en' ng-app='#{appName}')
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  link(href='/vendor/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
  link(href='/vendor/spinner.css' rel='stylesheet')
  link(href='/css/flatly.css' rel='stylesheet')
  link(href='/css/custom.min.css' rel='stylesheet')
  link(href='/css/style.css' rel='stylesheet')

  block style

  title!= title

body
  include ./_header.jade

  div.container
    block content

  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
  script(src='/vendor/angular/angular.min.js')
  //-script(src='/vendor/angular-ui/build/angular-ui.min.js')
  script(src='/vendor/angular-route/angular-route.min.js')
  script(src='/js/custom.js')

  block scripts
