extends _layout

block header
  h1!= title

block content
  h1!= message

  a(href='/login')
    |login

block scripts
  script(src='/js/home/app.js')
  script(src='/js/home/service/LoginService.js')
  script(src='/js/home/login/login.controller.js')
