extends _layout

block header
  h1!= title

block content
  h1!= message
  p
    | hello 
    = user.local.username
  div
    p
      = user.local.firstname
    p
      = user.local.lastname
    p
      = user.local.email
    img(src='#{user.local.imageUrl}')
