block vars
  - var appName = 'TasteOfApp'

extends _layout

block header
  h1!= title

block content
  h1!= message

  div(ng-controller='SignupController')
    ul.nav.nav-tabs
      li.active
        a(data-toggle='pill' show-tab='' href='#individual-tab' ng-click='changeType("individual")') Individual
      li
        a(data-toggle='pill' show-tab='' href='#enterprise-tab' ng-click='changeType("enterprise")') Enterprise

    div.row
      div.col-sm-7
        div.tab-content
          div#individual-tab.tab-pane.fade.in.active
            div
              div.form-group
                div.alert.alert-danger(ng-if='err != null')
                  | {{err}}
              div.form-group
                label(for='username') Username:
                input#username.form-control(type='text', name='username' placeholder='username' ng-model='username')
              div.form-group
                label(for='password') Password:
                input#password.form-control(type='password', name='password' placeholder='password' ng-model='password')
              div.form-group
                label(for='confirm-password') Confirm Password:
                input#confirm-password.form-control(type='password', name='confirm_password' placeholder='confirm password' ng-model='confirm_password')
              div.form-group
                label(for='first-name') First Name:
                input#first-name.form-control(type='text', name='firstname' placeholder='first name' ng-model='firstname')
              div.form-group
                label(for='last-name') Last Name:
                input#last-name.form-control(type='text', name='lastname' placeholder='last name' ng-model='lastname')
              div.form-group
                label(for='email') Email:
                input#email.form-control(type='email', name='email' placeholder='email' ng-model='email')
              hr
              div.form-group
                button.btn.btn-default(ng-click='signup()') Register

          div#enterprise-tab.tab-pane.fade
            div.form-group
              div.alert.alert-danger(ng-if='err != null')
                | {{err}}
            div.form-group
              label(for='username') Username:
              input#username.form-control(type='text', name='username' placeholder='username' ng-model='username')
            div.form-group
              label(for='password') Password:
              input#password.form-control(type='password', name='password' placeholder='password' ng-model='password')
            div.form-group
              label(for='confirm-password') Confirm Password:
              input#confirm-password.form-control(type='password', name='confirm_password' placeholder='confirm password' ng-model='confirm_password')
            div.form-group
              label(for='last-name') Business Name:
              input#business-name.form-control(type='text', name='business' placeholder='business name' ng-model='business')
            div.form-group
              label(for='email') Email:
              input#email.form-control(type='email', name='email' placeholder='email' ng-model='email')
            hr
            div.form-group
              label(for='last-name') Address:
              input#address.form-control(type='text', name='address' placeholder='address' ng-model='address')
            div.form-group
              label(for='open-hours') Open Hours:
              div#open-hours.row
                div.col-xs-3
                  select.form-control(name='daySelect' ng-model='daySelection')
                    option(ng-repeat='day in days' value='{{day}}') {{day}}
                div.col-xs-4
                  div.input-group.bootstrap-timepicker.timepicker
                    input#open-from.form-control.input-small(type='text' ng-model='openHour')
                    span.input-group-addon
                      i.glyphicon.glyphicon-time
                div.col-xs-4
                  div.input-group.bootstrap-timepicker.timepicker
                    input#open-to.form-control.input-small(type='text' onload='setTimePicker()' ng-model='closeHour')
                    span.input-group-addon
                      i.glyphicon.glyphicon-time
                div.col-xs-1
                  button.btn.btn-default(ng-click='addOpenHour()')
                    i.glyphicon.glyphicon-plus
            div.form-group(ng-if='daysDictSizeHelper() != 0')
              label(for='open-hours-preview') Open Hours Preview:
              ul#open-hours-preview
                li(ng-repeat='day in days' ng-if='daysDict[day] != null') 
                  span {{day}}: {{daysDict[day][0]}} - {{daysDict[day][1]}}
                  span.pull-right
                    i.glyphicon.glyphicon-remove(ng-click='removeFromDaysDict(day)')

            div.form-group
              label(for='tag') Tag (add tags to help user search for you information, you can have up to 10 tags):
              div#tag.row
                div.col-xs-11
                  input#tag.form-control(type='text', name='tag' placeholder='tag' ng-model='tag')
                div.col-xs-1
                  button.btn.btn-default(ng-click='addTag()')
                    i.glyphicon.glyphicon-plus


            div.form-group(ng-if='tags.length > 0')
              label(for='tags-preview') Open Hours Preview:
              ul#tags-preview
                li(ng-repeat='tg in tags') 
                  span {{tg}}
                  span.pull-right
                    i.glyphicon.glyphicon-remove(ng-click='removeTag($index)')


            hr
            div.form-group
              button.btn.btn-default(ng-click='signupbusiness()') Register

      div.col-sm-5
        div.col-sm-4
        div.col-sm-8
          h3
            | Upload Avatar
          div#cropperDivParent(ng-show='uploader.isHTML5')
            div#cropperDiv.ng-hide(ng-hide='originalImageUrlHide')
              img#avatarOriginalImg(src='')
            div.ng-hide(ng-hide='originalImageUrlHide')
              button.btn.btn-default(ng-click='crop()')
                | Crop
              hr
            div#avatarPreviewDiv(ng-hide='croppedImageUrlHide')
              img(ng-src='{{croppedImageUrl}}')
            div.btn.btn-default.btn-file
              | {{chooseImageBtnText}}
              input#avatarUpload(type='file' nv-file-select='' uploader='uploader' ng-model='file' ng-change='fileChange()')

block scripts
  script(src='/vendor/angular-file-upload/dist/angular-file-upload.min.js')
  script(src='/vendor/cropper/dist/cropper.min.js')
  script(src='/js/signup/app.js')
  script(src='/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js')
  script(src='/js/signup/signup.js')
  script(src='/js/signup/signup.controller.js')
  script(src='/js/signup/signupService.js')
  script(src='/js/login/loginService.js')
  script(src='/js/login/login.controller.js')
  script(src='/js/service/imageService.js')

block style
  link(href='/vendor/cropper/dist/cropper.min.css' rel='stylesheet')
  link(href='/vendor/bootstrap-timepicker/less/timepicker.less' rel='stylesheet')
