
<h1>Forms</h1>
<hr/>
<div ng-controller="FieldController">
  <ul class="nav nav-tabs">
    <li><a href="#/form">Forms</a></li>
    <li class="active"><a>Fields</a></li>
  </ul>
  <div class="tab-content">
    <div id="forms" class="tab-pane fade in active">
      <div ng-repeat="field in fields track by $id($index)">
        <div ng-switch="field.type" class="form-group animate-switch-container">
          <div ng-switch-when="TEXT" class="row animate-switch">
            <div class="col-xs-7">
              <label for="field{{$index}}">{{field.label}}</label>
              <input id="field{{$index}}" type="text" placeholder="{{field.placeholder}}" class="form-control"/>
              <textarea ng-model="editingString[$index]" ng-hide="!getIsEditing($index)" class="form-control ng-hide"></textarea>
            </div>
            <div class="col-xs-1"><i ng-click="editField($index)" class="glyphicon glyphicon-pencil"></i></div>
            <div class="col-xs-1"><i ng-click="updateField($index)" class="glyphicon glyphicon-ok"></i></div>
            <div class="col-xs-1"><i ng-click="copyField($index)" class="glyphicon glyphicon-plus"></i></div>
            <div class="col-xs-1"><i ng-click="removeFeild($index)" class="glyphicon glyphicon-remove"></i></div>
            <div class="col-xs-1"><i class="glyphicon glyphicon-align-justify"></i></div>
          </div>
          <div ng-switch-when="TEXTAREA" class="row">
            <div class="col-xs-7">
              <label for="field{{$index}}">{{field.label}}</label>
              <textarea id="field{{$index}}" type="text" placeholder="{{field.placeholder}}" class="form-control"></textarea>
              <textarea ng-model="editingString[$index]" ng-hide="!getIsEditing($index)" class="form-control ng-hide"></textarea>
            </div>
            <div class="col-xs-1"><i ng-click="editField($index)" class="glyphicon glyphicon-pencil"></i></div>
            <div class="col-xs-1"><i ng-click="updateField($index)" class="glyphicon glyphicon-ok"></i></div>
            <div class="col-xs-1"><i ng-click="copyField($index)" class="glyphicon glyphicon-plus"></i></div>
            <div class="col-xs-1"><i ng-click="removeFeild($index)" class="glyphicon glyphicon-remove"></i></div>
            <div class="col-xs-1"><i class="glyphicon glyphicon-align-justify"></i></div>
          </div>
          <div ng-switch-when="DATE" class="row animate-switch">
            <div class="col-xs-7">
              <label for="field{{$index}}">{{field.label}}</label>
              <div data-date="11-10-2015" data-date-format="dd-mm-yyyy" class="input-append date">
                <input type="text" value="11-10-2015" date-provider="datepicker" class="form-control datepicker"/><span class="add-on"><i class="icon-th"></i></span>
              </div>
              <textarea ng-model="editingString[$index]" ng-hide="!getIsEditing($index)" class="form-control ng-hide"></textarea>
            </div>
            <div class="col-xs-1"><i ng-click="editField($index)" class="glyphicon glyphicon-pencil"></i></div>
            <div class="col-xs-1"><i ng-click="updateField($index)" class="glyphicon glyphicon-ok"></i></div>
            <div class="col-xs-1"><i ng-click="copyField($index)" class="glyphicon glyphicon-plus"></i></div>
            <div class="col-xs-1"><i ng-click="removeFeild($index)" class="glyphicon glyphicon-remove"></i></div>
            <div class="col-xs-1"><i class="glyphicon glyphicon-align-justify"></i></div>
          </div>
          <div ng-switch-when="OPTIONS" class="row animate-switch">
            <div class="col-xs-7">
              <label for="field{{$index}}">{{field.label}}</label>
              <select id="field{{$index}}" class="form-control">
                <option ng-repeat="option in field.options" value="{{option.value}}">{{option.value}}</option>
              </select>
              <textarea ng-model="editingString[$index]" ng-hide="!getIsEditing($index)" class="form-control ng-hide"></textarea>
            </div>
            <div class="col-xs-1"><i ng-click="editField($index)" class="glyphicon glyphicon-pencil"></i></div>
            <div class="col-xs-1"><i ng-click="updateField($index)" class="glyphicon glyphicon-ok"></i></div>
            <div class="col-xs-1"><i ng-click="copyField($index)" class="glyphicon glyphicon-plus"></i></div>
            <div class="col-xs-1"><i ng-click="removeFeild($index)" class="glyphicon glyphicon-remove"></i></div>
            <div class="col-xs-1"><i class="glyphicon glyphicon-align-justify"></i></div>
          </div>
          <div ng-switch-when="CHECKBOXES" class="row animate-switch">
            <div class="col-xs-7">
              <label for="field{{$index}}">{{field.label}}</label>
              <div id="field{{$index}}">
                <div ng-repeat="option in field.options" class="checkbox">
                  <label>
                    <input type="checkbox" value="{{option.value}}"/>{{option.label}}
                  </label>
                </div>
              </div>
              <textarea ng-model="editingString[$index]" ng-hide="!getIsEditing($index)" class="form-control ng-hide"></textarea>
            </div>
            <div class="col-xs-1"><i ng-click="editField($index)" class="glyphicon glyphicon-pencil"></i></div>
            <div class="col-xs-1"><i ng-click="updateField($index)" class="glyphicon glyphicon-ok"></i></div>
            <div class="col-xs-1"><i ng-click="copyField($index)" class="glyphicon glyphicon-plus"></i></div>
            <div class="col-xs-1"><i ng-click="removeFeild($index)" class="glyphicon glyphicon-remove"></i></div>
            <div class="col-xs-1"><i class="glyphicon glyphicon-align-justify"></i></div>
          </div>
          <div ng-switch-when="RADIOS" class="row">
            <div class="col-xs-7">
              <label for="field{{$index}}">{{field.label}}</label>
              <div id="field{{$index}}" ng-repeat="option in field.options">
                <div class="radio">
                  <label>
                    <input type="radio" name="field_{{field.label}}" value="{{option.value}}"/>{{option.label}}
                  </label>
                </div>
              </div>
              <textarea ng-model="editingString[$index]" ng-hide="!getIsEditing($index)" class="form-control ng-hide"></textarea>
            </div>
            <div class="col-xs-1"><i ng-click="editField($index)" class="glyphicon glyphicon-pencil"></i></div>
            <div class="col-xs-1"><i ng-click="updateField($index)" class="glyphicon glyphicon-ok"></i></div>
            <div class="col-xs-1"><i ng-click="copyField($index)" class="glyphicon glyphicon-plus"></i></div>
            <div class="col-xs-1"><i ng-click="removeFeild($index)" class="glyphicon glyphicon-remove"></i></div>
            <div class="col-xs-1"><i class="glyphicon glyphicon-align-justify"></i></div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-xs-8">
        <select id="new-field" ng-model="newFeild" class="form-control">
          <option ng-repeat="menuItem in newFieldSelection()" value="{{menuItem}}">{{menuItem}}</option>
        </select>
      </div>
      <div class="col-xs-2 col-xs-offset-2">
        <button ng-click="addField()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
      </div>
    </div>
  </div>
</div>