extends _layout

block vars
  -
    pagePath = '/assignment/home.html'

block content
  h1
    | Welcome !
  hr
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in massa mi.
    | Donec consequat semper mauris, eget bibendum dolor ornare ut. Sed maximus orci
    | sapien, vel aliquam elit finibus sed. Maecenas vehicula vulputate turpis in
    | suscipit. Suspendisse elementum nibh sit amet lacinia congue. Donec fringilla
    | felis purus, et suscipit metus luctus eget. Etiam id purus placerat, tincidunt
    | risus vitae, lacinia sem.
