extends _layout

block vars
  -
    pagePath = '/assignment/profile.html'

block content
  h1 Profile
  hr
  form.form-horizontal
    div.form-group
      label.col-sm-2.control-label(for='inputUsername') Username
      div.col-sm-7
        input#inputUsername.form-control(type="text" placeholder='User Name')
    div.form-group
      label.col-sm-2.control-label(for='inputPassword') Password
      div.col-sm-7
        input#inputPassword.form-control(type="password" placeholder='Password')

    div.form-group
      label.col-sm-2.control-label(for='inputFirstName') First Name
      div.col-sm-7
        input#inputFirstName.form-control(type="text" placeholder='First Name')

    div.form-group
      label.col-sm-2.control-label(for='inputLastName') Last Name
      div.col-sm-7
        input#inputLastName.form-control(type="text" placeholder='Last Name')

    div.form-group
      label.col-sm-2.control-label(for='inputEmail') Email
      div.col-sm-7
        input#inputEmail.form-control(type="email" placeholder='Email')
    div.form-group
      div.col-sm-offset-2.col-sm-7
        a.btn.btn-default(href='/assignment/profile.html') Update
