h1 Register
hr
form.form-horizontal(ng-controller='RegisterController')
  div.form-group
    label.col-sm-2.control-label(for='inputUsername') Username
    div.col-sm-7
      input#inputUsername.form-control(type="text" placeholder='User Name' ng-model='username')
  div.form-group
    label.col-sm-2.control-label(for='inputPassword') Password
    div.col-sm-7
      input#inputPassword.form-control(type="password" placeholder='Password' ng-model='password')
  div.form-group
    label.col-sm-2.control-label(for='inputPasswordConfirm') Confirm Password
    div.col-sm-7
      input#inputPasswordConfirm.form-control(type="password" placeholder='Confirm Password' ng-model='confirmPassword')
  div.form-group
    label.col-sm-2.control-label(for='inputEmail') Email
    div.col-sm-7
      input#inputEmail.form-control(type="email" placeholder='Email' ng-model='email')
  div.form-group
    div.col-sm-offset-2.col-sm-7
      a.btn.btn-default(ng-click='register()') Sign in
