block vars
  - var appName = 'TasteOfApp'

extends ../_layout

block content
  div(ng-controller='HomeController')
  div(ng-view)

block scripts
  script(src='/vendor/angular-file-upload/dist/angular-file-upload.min.js')
  script(src='/js/home/app.js')
  script(src='/js/home/config.js')
  script(src='/js/login/loginService.js')
  script(src='/js/login/login.controller.js')
  script(src='/js/home/home.controller.js')
  script(src='/js/service/commentService.js')
  script(src='/js/service/postService.js')
  script(src='/js/home/timeline.js')
  script(src='/js/home/timeline.controller.js')
  script(src='/js/service/imageService.js')
  script(src='/js/home/recipe.js')
  script(src='/js/home/recipe.controller.js')
  script(src='/js/home/business.controller.js')
  script(src='/js/service/userService.js')
  script(src='/js/search/searchService.js')
  script(src='/js/search/search.controller.js')

block style
  link(href='/css/home/timeline.css' rel='stylesheet')
  link(href='/css/recipe.css' rel='stylesheet')
  link(href='/css/search.css' rel='stylesheet')
