div.row.heigh80vh(ng-controller='SearchController' ng-init='')
  div.col-sm-2
  div.col-sm-8
    h1
      | Search

    div.row
      div.col-xs-10
        input.form-control(ng-model='searchText')
      div.col-xs-2
        button.btn.btn-default(ng-click='searchFromSearchPage()')
          | Search
    div.row
      div.col-xs-1
      div.col-xs-10
        div.row(ng-repeat='user in searchResult.users')
          hr
          div.col-xs-3
            img.searchUserImg(ng-src='{{user.local.imageUrl}}')
          div.col-xs-6
            p
              | {{user.local.firstname + " " + user.local.lastname}}
            p
              | {{user.local.username}}
          div.col-xs-3(ng-if='currentUser._id != user._id')
            button.btn.btn-default.userBtn(disabled ng-if='followingRelationship[user._id] == null')
              span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            button.btn.btn-warning.userBtn(ng-if='followingRelationship[user._id] == true' ng-click='unFollowUser(user._id)')
              | Unfollow
            button.btn.btn-default.userBtn(ng-if='followingRelationship[user._id] == false' ng-click='followUser(user._id)')
              | Follow
          div.col-xs-3(ng-if='currentUser._id == user._id')

