div.row.heigh80vh(ng-controller='SearchController' ng-init='')
  div.col-sm-2
  div.col-sm-8
    h1
      | Search

    div.row
      div.col-xs-10
        input.form-control(ng-model='searchText' ng-keyup='keyEventHandler("search.page", $event)')
      div.col-xs-2
        button.btn.btn-default(ng-click='searchFromSearchPage()')
          | Search
    div.row
      h3(ng-if='searchResult.users && searchResult.users.length != 0') Users
      div.col-xs-1
      div.col-xs-10
        div.row(ng-repeat='user in searchResult.users')
          hr
          include template/_userlistblock.jade
          div.col-xs-3(ng-if='currentUser._id != user._id')
            button.btn.btn-default.userBtn(disabled ng-if='followingRelationship[user._id] == null')
              span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            button.btn.btn-warning.userBtn(ng-if='followingRelationship[user._id] == true' ng-click='unFollowUser(user._id)')
              | Unfollow
            button.btn.btn-default.userBtn(ng-if='followingRelationship[user._id] == false' ng-click='followUser(user._id)')
              | Follow
          div.col-xs-3(ng-if='currentUser._id == user._id')

    div.row
      h3(ng-if='searchResult.tweets && searchResult.tweets.length != 0') Tweets
      div.col-xs-1
      div.col-xs-10
        div.row(ng-repeat='tweet in searchResult.tweets')
          hr
          div.col-xs-3
            a(href='#/user/{{tweet.post_id.user_id._id}}')
              img.searchUserImg(ng-src='{{tweet.post_id.user_id.local.imageUrl}}')
          div.col-xs-9
            a.normalText(href='#/post/{{tweet.post_id._id}}') {{tweet.content}}

    div.row
      h3(ng-if='searchResult.recipes && searchResult.recipes.length != 0') Recipes
      div.col-xs-1
      div.col-xs-10
        div.row(ng-repeat='recipe in searchResult.recipes')
          hr
          div.col-xs-3
            a(href='#/user/{{recipe.post_id.user_id._id}}')
              img.searchUserImg(ng-src='{{recipe.post_id.user_id.local.imageUrl}}')
          div.col-xs-9
            a.normalText(href='#/post/{{recipe.post_id._id}}') {{recipe.recipeName}}
