div.row(ng-controller='TimelineController').heigh80vh
  div.col-sm-2
  div.col-sm-8
    h1
      | What's up

    div.row.timeline-tweet-box.height30p
      div.row.home-tweet-box.tweet-box
        div.col-xs-2.col-md-1
          a(href='#/user/{{user._id}}')
            img#tweet-box-avatar(ng-src='{{avatarUrlHelper(user.local.imageUrl)}}')
        div.col-xs-10.col-md-11
          textarea#tweet-box-input.form-control(adjust-textarea='' ng-model='post')
      div.row.margin-vertical-8
        div.col-xs-offset-1.col-xs-11
          a(data-toggle='modal' data-target='#recipeModal') Post Recipe
          div.pull-right.margin-horizontal-20
            span.margin-horizontal-8 {{postRemainLength}}
            button.button.btn(ng-click='sendPost()') Post

    div#scrollPanel.scroll.height70p
      div.text-center.row.ng-hide(ng-hide='timelineViewMoreHide == true')
        span.text-center
          a(ng-click='clickViewMore()') view more

      div.row(ng-repeat='pt in posts')
        div(ng-if='pt.post_type == "tweet"')
          hr
          include template/_tweetblock.jade
          div.row.margin-vertical-8
            div.col-xs-4.text-center
              //-a forward
            div.col-xs-4.text-center
              a(ng-click='openReplyPanel($index)' ng-if='replyHide($index)') reply
              a(ng-click='closeReplyPanel($index)' ng-if='!replyHide($index)') close reply
            div.col-xs-4.text-center
              //-a like

        div(ng-if='pt.post_type == "recipe"')
          hr
          div.row.margin-vertical-4
            div.col-xs-2.col-xs-offset-1.col-lg-1.col-lg-offset-1
              a(href='#/user/{{pt.user_id._id}}')
                img#post-template-img(ng-src='{{avatarUrlHelper(pt.user_id.local.imageUrl)}}')
            div.col-xs-8.col-lg-9
              div.row
                span.username.margin-vertical-4
                  a.normalText(href='#/user/{{pt.user_id._id}}') {{pt.user_id.local.username}} &nbsp;({{pt.user_id.local.firstname + " " + pt.user_id.local.lastname}})
              div.row
                p 
                  strong Recipe: &nbsp;
                  a.normalText(href='#/post/{{pt._id}}') {{pt.recipe_id.recipeName}}

            div.row.margin-vertical-8
              div.col-xs-4.text-center
              div.col-xs-4.text-center
                a(ng-click='viewRecipe($index)' data-toggle='modal' data-target='#viewRecipeModal')
                  | View Details
              div.col-xs-4.text-center

      div.pagination-footer
        nav.text-center
          ul.pagination
            li(ng-class='{disabled: currentPage == 1}')
              a(aria-label='Previous' ng-click='prevPage()')
                span(aria-hidden='true') &laquo;
            li(ng-repeat='pageIndex in getPageScope()'  ng-class='{active: currentPage == pageIndex}')
              a(ng-click='changePage(pageIndex)') {{pageIndex}}
            li(ng-class='{disabled: nextPageDisable() == true}')
              a(aria-label='Next' ng-click='nextPage()')
                span(aria-hidden='true') &raquo;

  div.col-sm-2

  div.container#viewRecipeModal.modal.fade(role='dialog' ng-controller='RecipeController')
    div.modal-dialog
      div.modal-content
        div.modal-header
          div.row
            div.col-xs-10
              h3 {{viewingRecipe.recipeName}}
            div.col-xs-2
              button.close(type="button" data-dismiss="modal")
               | &times;
        div.modal-body
          include template/_recipeblock.jade
        div.modal-footer

div.container#recipeModal.modal.fade(role='dialog' ng-controller='RecipeController')
  div.modal-dialog
    div.modal-content
      div.modal-header
        div.row
          div.col-xs-10
            h4 New recipe
          div.col-xs-2
            button.close(type="button" data-dismiss="modal")
             | &times;
      div.modal-body
        div.form-horizontal(role='form')
          div.row
            div.col-xs-offset-1.col-xs-10
              div.form-group
                label.control-label(for='recipeName') Recipe Name:
                input#recipeName.form-control(type='text' placeholder='recipe name' ng-model='recipeName')
            div.col-xs-1

          hr

          div.row(ng-if='ingredients.length > 0')
            div.col-xs-offset-1.col-xs-10
              table.table-striped(width='100%')
                thead
                  tr
                    th(width='60%') Ingredient
                    th(width='30%') Amount
                    th(width='10%') Remove
                tbody
                  tr(ng-repeat='ingredient in ingredients')
                    td(width='60%') {{ingredient[0]}}
                    td(width='30%') {{ingredient[1]}}
                    td(width='10%') 
                      i.glyphicon.glyphicon-remove(ng-click='deleteIngredient($index)')
            div.col-xs-1

          div.row
            div.col-xs-offset-1.col-xs-6
              div.form-group
                label.control-label(for='ingredientName') Ingredient:
            div.col-xs-3
              div.form-group
                label.control-label(for='ingredientAmount') Ingredient Amount:
          div.row
            div.col-xs-offset-1.col-xs-6
              div.form-group
                input#ingredientName.form-control(type='text' placeholder='ingredients' ng-model='ingredientName')
            div.col-xs-3
              div.form-group
                input#ingredientAmount.form-control(type='text' placeholder='amount' ng-model='ingredientAmount')
            div.col-xs-1
              button.btn.btn-default.pull-righk(ng-click='addIngredient()')
                i.glyphicon.glyphicon-plus

          hr

          div.row(ng-if='steps.length > 0')
            div.col-xs-offset-1.col-xs-10
              table.table-striped(width='100%')
                thead
                  tr
                    th(width='60%') Step
                    th(width='30%') Image
                    th(width='10%') Remove
                tbody
                  tr(ng-repeat='step in steps')
                    td(width='60%') {{step[0]}}
                    td(width='30%') 
                      img.preview-img(ng-src='{{step[1]}}')
                    td(width='10%') 
                      i.glyphicon.glyphicon-remove(ng-click='deleteStep($index)')
            div.col-xs-1
          div.row
            div.col-xs-offset-1.col-xs-10
              div.form-group
                label.control-label(for='nextstep') Step:
          div.row
            div.col-xs-offset-1.col-xs-7
              div.form-group
                textarea.form-control(adjust-textarea='' ng-model='nextstep' placeholder='nextstep')
            div.col-xs-1
              div.btn.btn-default.btn-file.changeImgBtn(rel='popover' target='_blank')
                i.glyphicon.glyphicon-cloud-upload
                input(type='file' nv-file-select='' uploader='uploader' ng-model='file' ng-change='fileChange()')

            div.col-xs-offset-1.col-xs-1
              button.btn.btn-default(ng-click='addStep()')
                i.glyphicon.glyphicon-plus
      div.modal-footer
        button.btn.btn-default(ng-click='postRecipe()') Post

