div.row.heigh80vh(ng-controller='DetailsController' ng-init='')
  div.col-sm-2
  div.col-sm-8
    h1
      | {{detailUser.local.username}}
    div.row
      div.col-xs-offset-1.col-xs-10
        div.row
          div.col-xs-4
            div.row
              img.userUserImage(ng-src='{{detailUser.local.imageUrl || "img/default-avatar.png"}}' ng-if='!isChangeingProfile')

              div#cropperDivParent(ng-show='uploader.isHTML5 && isChangeingProfile')
                div.row
                  div.ng-hide(ng-hide='croppedImageUrl != "" || originalImageUrl != ""')
                    img.userUserImage(ng-src='{{detailUser.local.imageUrl || "img/default-avatar.png"}}')
                  div#cropperDiv.ng-hide(ng-hide='originalImageUrlHide')
                    img.userUserImage#avatarOriginalImg(src='')
                  div.ng-hide(ng-hide='originalImageUrlHide')
                    button.margin-vertical-8.btn.btn-default(ng-click='crop()')
                      | Crop
                    hr
                  div#avatarPreviewDiv(ng-hide='croppedImageUrlHide')
                    img.userUserImage(ng-src='{{croppedImageUrl}}')
                div.row
                  div.margin-vertical-8.btn.btn-default.btn-file
                    | {{chooseImageBtnText}}
                    input#avatarUpload(type='file' nv-file-select='' uploader='uploader' ng-model='file' ng-change='fileChange()')
                div.row
                  div.margin-vertical-8.btn.btn-warning(ng-click='discardUpdateImage()' ng-hide='!(croppedImageUrl != "" || originalImageUrl != "")')
                    | Discard

            div.row.margin-vertical-8(ng-if='detailUser._id != user._id && isFollowing == false')
              button.btn.btn-default.userBtn(ng-click='followUser(detailUser._id)') Follow
            div.row.margin-vertical-8(ng-if='detailUser._id != user._id && isFollowing == null')
              button.btn.btn-default.userBtn(disabled)
                span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            div.row.margin-vertical-8(ng-if='detailUser._id != user._id && isFollowing == true')
              button.btn.btn-warning.userBtn(ng-click='unFollowUser(detailUser._id)') Unfollow

          div.col-xs-8
            div.form-horizontal(ng-if='detailUser.user_type == "individual"')
              div.form-group
                div.col-xs-3
                div.col-xs-9.alert.alert-danger(ng-if='err != null')
                  | {{err}}
              div.form-group
                label.control-label.col-xs-3(for='usernameInput') Username:
                div#usernameInput.col-xs-9
                  input.form-control(ng-disabled='true' ng-model='detailUser.local.username')
              div.form-group
                label.control-label.col-xs-3(for='firstNameInput') First Name:
                div#firstNameInput.col-xs-9
                  input.form-control(ng-disabled='!isChangeingProfile' ng-model='detailUser.local.firstname')
              div.form-group
                label.control-label.col-xs-3(for='lastNameInput') Last Name:
                div#lastNameInput.col-xs-9
                  input.form-control(ng-disabled='!isChangeingProfile' ng-model='detailUser.local.lastname')
              div.form-group(ng-if='isChangeingProfile')
                label.control-label.col-xs-3(for='emailInput') Email:
                div#emailInput.col-xs-9
                  input.form-control(type='email' ng-disabled='!isChangeingProfile' ng-model='detailUser.local.email')
              div.form-group(ng-if='isChangeingProfile && !isChangeingPassword')
                div.col-xs-3
                div.col-xs-9
                  span.text-center
                    a(ng-click='changingPassword()') Change Password
              div.form-group(ng-show='isChangeingProfile && isChangeingPassword')
                label.control-label.col-xs-3(for='passwordInput') New Password:
                div#passwordInput.col-xs-9
                  input.form-control(type='password' ng-disabled='!isChangeingProfile' ng-model='passwords.newPassword' placeholder='new password')
              div.form-group(ng-show='isChangeingProfile && isChangeingPassword')
                label.control-label.col-xs-3(for='confirmPasswordInput') Confirm New Password:
                div#confirmPasswordInput.col-xs-9
                  input.form-control(type='password' ng-disabled='!isChangeingProfile' ng-model='passwords.confirmNewPassword' placeholder='confirm new password')

              div.form-group(ng-if='detailUser._id == user._id && !isChangeingProfile')
                button.btn.btn-default.pull-right(ng-click='setChangeProfile(true)') Change Profile
              div.form-group(ng-if='detailUser._id == user._id && isChangeingProfile')
                button.btn.btn-default.pull-right(ng-click='setChangeProfile(false)') Cancel
                button.btn.btn-default.pull-right.margin-horizontal-20(ng-click='updateUser()') Update

            div.form-horizontal(ng-if='detailUser.user_type == "enterprise"')
              div.form-group
                label.control-label.col-xs-3(for='businessNameInput') Buisness Name:
                div#businessNameInput.col-xs-9
                  input.form-control(ng-disabled='!isChangeingProfile' ng-model='detailUser.enterprise.businessname')
              div.form-group
                label.control-label.col-xs-3(for='addressInput') Address:
                div#addressInput.col-xs-9
                  input.form-control(ng-disabled='!isChangeingProfile' ng-model='detailUser.enterprise.address')

              div.form-group(ng-if='isChangeingProfile && !isChangeingPassword')
                div.col-xs-3
                div.col-xs-9
                  span.text-center
                    a(ng-click='changingPassword()') Change Password
              div.form-group(ng-show='isChangeingProfile && isChangeingPassword')
                label.control-label.col-xs-3(for='passwordInput') New Password:
                div#passwordInput.col-xs-9
                  input.form-control(type='password' ng-disabled='!isChangeingProfile' ng-model='passwords.newPassword' placeholder='new password')
              div.form-group(ng-show='isChangeingProfile && isChangeingPassword')
                label.control-label.col-xs-3(for='confirmPasswordInput') Confirm New Password:
                div#confirmPasswordInput.col-xs-9
                  input.form-control(type='password' ng-disabled='!isChangeingProfile' ng-model='passwords.confirmNewPassword' placeholder='confirm new password')

              div.form-group(ng-if='detailUser._id == user._id && !isChangeingProfile')
                button.btn.btn-default.pull-right(ng-click='setChangeProfile(true)') Change Profile
              div.form-group(ng-if='detailUser._id == user._id && isChangeingProfile')
                button.btn.btn-default.pull-right(ng-click='setChangeProfile(false)') Cancel
                button.btn.btn-default.pull-right.margin-horizontal-20(ng-click='updateUser()') Update

      div.col-xs-1

    hr(ng-if='detailUser.user_type == "enterprise"')
    div.row(ng-if='detailUser.user_type == "enterprise"')
      div.col-xs-offset-1.col-xs-10
        ul.nav.nav-tabs
          li(ng-class='{"active": detailUser._id != user._id}')
            a(data-toggle='pill' show-tab='' href='#mappanel' ng-click='clickMapTab()') Map
          li
            a(data-toggle='pill' show-tab='' href='#openhourspanel') Open Hours
          li(ng-class='{"active": detailUser._id == user._id}')
            a(data-toggle='pill' show-tab='' href='#commentspanel') Comments


        div.tab-content
          div#mappanel.tab-pane.fade(ng-class='{"in active": detailUser._id != user._id}')
            script.
              initializeMap1()
            div#map
          div#openhourspanel.tab-pane.fade
            ul
              li(ng-repeat='oh in detailUser.enterprise.openHours')
                | {{oh[0]}}: {{oh[1]}} -- {{oh[2]}}
          div#commentspanel.tab-pane.fade(ng-class='{"in active": detailUser._id == user._id}')
            div.row.margin-vertical-4
              div.col-xs-2
                img#post-reply-img(ng-src='{{avatarUrlHelper(user.local.imageUrl)}}' ng-if='detailUser._id != user._id')
              div.col-xs-10
                div.row(ng-if='detailUser._id != user._id')
                  div.col-xs-8.col-sm-10
                    textarea#tweet-reply-input.form-control(adjust-textarea='' ng-model='replyContents["content"]')
                  div.col-xs-4.col-sm-2
                    button.btn.btn-default(ng-click='sendComment($index)')
                      i.glyphicon.glyphicon-ok
                div.row(ng-if='replyContents["commentId"] != null && detailUser._id != user._id')
                  div.col-xs-12
                    p Reply to: {{replyContents["commentObj"].user_id.local.username}}, of: {{replyContents["commentObj"].content}}
                div.row(ng-if='detailUser._id != user._id')
                  div.col-xs-8
                  div.col-xs-4
                    p {{calculateCommentRemainLength()}}
                hr

                div(ng-repeat='comment in comments' ng-class="{'heighlightComment': (comment._id == highlightCommentId)}")
                  div.row.margin-vertical-4
                    div.col-xs-2
                      img#post-reply-img(ng-src='{{avatarUrlHelper(comment.user_id.local.imageUrl)}}')
                    div.col-xs-10
                      div.row
                        p(ng-if='comment.comment_id != null') 
                          | Reply to 
                          strong {{comment.comment_id.user_id.local.username}}
                          | : {{comment.content}}
                        p(ng-if='comment.comment_id == null') {{comment.content}}
                      div.row
                        span.text-center
                          a(ng-click='selectReplyComment($index)') Reply
                  hr

    hr
    div.row
      div.col-xs-offset-1.col-xs-10
        ul.nav.nav-tabs
          li.active
            a(data-toggle='pill' show-tab='' href='#postspanel') Posts
          li
            a(data-toggle='pill' show-tab='' href='#followingspanel') Following
          li
            a(data-toggle='pill' show-tab='' href='#followerpanel') Follower

        div.tab-content
          div#postspanel.tab-pane.fade.in.active
            div(ng-repeat='post in posts')
              hr
              div.row.margin-vertical-4(ng-if='post.post_type == "tweet"')
                div.col-xs-3
                  img#post-template-img(ng-src='{{detailUser.local.imageUrl || "img/default-avatar.png"}}')
                div(ng-class='{"col-xs-9": detailUser._id != user._id, "col-xs-7": detailUser._id == user._id}')
                  div.row
                    span.username.margin-vertical-4
                      {{detailUser.local.username}}
                  div.row
                    a.normalText(href='#/post/{{post._id}}') {{post.tweet_id.content}}
                div.col-xs-2(ng-if='detailUser._id == user._id')
                  button.btn.btn-warning(ng-click='deletePost(post._id)')
                    | Delete

              div.row.margin-vertical-4(ng-if='post.post_type == "recipe"')
                div.col-xs-3
                  img#post-template-img(ng-src='{{detailUser.local.imageUrl || "img/default-avatar.png"}}')
                div(ng-class='{"col-xs-9": detailUser._id != user._id, "col-xs-7": detailUser._id == user._id}')
                  div.row
                    span.username.margin-vertical-4
                      {{detailUser.local.username}}
                  div.row
                    a.normalText(href='#/post/{{post._id}}') {{post.recipe_id.recipeName}}
                div.col-xs-2(ng-if='detailUser._id == user._id')
                  button.btn.btn-warning(ng-click='deletePost(post._id)')
                    | Delete

          div#followingspanel.tab-pane.fade
            div.row(ng-repeat='following in followings' ng-init='user=following.following')
              hr
              include template/_userlistblock.jade

          div#followerpanel.tab-pane.fade
            div.row(ng-repeat='follower in followers' ng-init='user=follower.follow_by')
              hr
              include template/_userlistblock.jade
