div.row
  h2 Please login

  p By login or create new account, you can explore the network of delicious!

  h2
    strong
      | To professor and ta: 
  p
    strong
      | Please sign in to visit this site. It is a social network. Most of the current work is for logined users. I haven't and content to this page for visitors.
  p
    strong
      | The index page of this site if not in any file called index. I use express routing to render a jade generated page as the index page, which is located in './view/home'. The benefit of using jade is that I can use jade to render different content base on the current is a visitor or logged in user.
  p
    strong
      | Also, this project is locate at the base directory, not in 'project' directory. I started implement this project far before the POC requirement posted. And now it will be a 
      span
        font(color='red') tremendous &nbsp;
      | work to move those files to a directory called project. I need to change every file required becuase the file path changed.


  h2
    strong
      | To All Users:
  p
    strong
      | This site is still under development, if you visiting this site hosted on openshift, I can't guarantee that I won't delete your account for development purpose.
      | After I decided not to delete any account, I'll remove this line.
