#tweet-box-avatar {
  height: 50;
  width: 50;
}

#tweet-box-input {
  min-height: 80px;
  overflow: hidden;
  resize: none;
}

#post-template-img {
  height: 40;
  width: 40;
}

#post-reply-img {
  height: 30;
  width: 30;
}

#tweet-reply-input {
  min-height: 46px;
  height: 46px;
  overflow: hidden;
  resize: none;
}

.margin-vertical-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-horizontal-8 {
  margin-right: 8px;
  margin-left: 8px;
}

.margin-horizontal-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.margin-vertical-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.margin-vertical-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.scroll {
  overflow: hidden;
  max-height: 100vh;
  overflow-y:scroll; 
  overflow-x:hidden; 
}

.maxheigh30vh {
  max-height: 30vh;
}

.heigh30vh {
  height: 30vh;
}

.heigh40vh {
  height: 40vh;
}

.heigh50vh {
  height: 50vh;
}

.heigh60vh {
  height: 60vh;
}

.heigh70vh {
  height: 70vh;
}

.heigh80vh {
  height: 80vh;
}

.height30p {
  height: 30%;
}

.height40p {
  height: 40%;
}

.height50p {
  height: 50%;
}

.height60p {
  height: 60%;
}

.height70p {
  height: 70%;
}

span.username {
  font-weight: bold;
}

.viewingRecipeImg {
  margin: auto;
  width: 90%;
}
