h1 Forms
hr
div(ng-controller='FieldController')
  ul.nav.nav-tabs
    li
      a(href='#/form') Forms
    li.active
      a() Fields
  div.tab-content
    div#forms.tab-pane.fade.in.active
      div(ng-repeat='field in fields')
        div.form-group.animate-switch-container(ng-switch='field.type')
          div.row.animate-switch(ng-switch-when="TEXT")
            div.col-xs-8
              label(for='field{{$index}}') {{field.label}}
              input.form-control(id='field{{$index}}' type='text' placeholder='{{field.placeholder}}')
            div.col-xs-1
              i.glyphicon.glyphicon-align-justify
            div.col-xs-1
              i.glyphicon.glyphicon-plus
            div.col-xs-1
              i.glyphicon.glyphicon-ok
            div.col-xs-1
              i.glyphicon.glyphicon-pencil
          div.row(ng-switch-when='TEXTAREA')
            div.col-xs-8
              label(for='field{{$index}}') {{field.label}}
              textarea.form-control(id='field{{$index}}' type='text' placeholder='{{field.placeholder}}')
            div.col-xs-1
              i.glyphicon.glyphicon-align-justify
            div.col-xs-1
              i.glyphicon.glyphicon-plus
            div.col-xs-1
              i.glyphicon.glyphicon-ok
            div.col-xs-1
              i.glyphicon.glyphicon-pencil
          div.row.animate-switch(ng-switch-when='DATE')
            div.col-xs-8
              label(for='field{{$index}}') {{field.label}}
              div.input-append.date(data-date='11-10-2015' data-date-format='dd-mm-yyyy')
                input.form-control.datepicker(type='text' value='11-10-2015' date-provider='datepicker')
                span.add-on
                  i.icon-th
            div.col-xs-1
              i.glyphicon.glyphicon-align-justify
            div.col-xs-1
              i.glyphicon.glyphicon-plus
            div.col-xs-1
              i.glyphicon.glyphicon-ok
            div.col-xs-1
              i.glyphicon.glyphicon-pencil
          div.row.animate-switch(ng-switch-when='OPTIONS')
            div.col-xs-8
              label(for='field{{$index}}') {{field.label}}
              select.form-control(id='field{{$index}}')
                option(ng-repeat="option in field.options" value='{{option.value}}') {{option.value}}
            div.col-xs-1
              i.glyphicon.glyphicon-align-justify
            div.col-xs-1
              i.glyphicon.glyphicon-plus
            div.col-xs-1
              i.glyphicon.glyphicon-ok
            div.col-xs-1
              i.glyphicon.glyphicon-pencil
          div.row.animate-switch(ng-switch-when='CHECKBOX')
            div.col-xs-8
              label(for='field{{$index}}') {{field.label}}
              div(id='field{{$index}}')
                div.checkbox(ng-repeat='option in options')
                  input(type='checkbox' value='{{option.value}}')
                  {{option.label}}
          div.row.animate-switch(ng-switch-when='"RADIOS"')
            div.col-xs-8
              label(for='field{{$index}}') {{field.label}}
              div(id='field{{$index}}')
                div.radio(ng-repeat='option in field.options')
                  input.form-control(type='radio' name='field{{$index}}' value='{{option.value}}')
                  {{option.label}}

