h1 Forms
hr
div(ng-controller='FormController')
  ul.nav.nav-tabs
    li.active
      a() Forms
    li
      a(href='#/user/{{user.id || 0}}/form/{{form.id || 0}}/fields' ng-class='{disabled: !form.id}') Fields
  div.tab-content
    div#forms.tab-pane.fade.in.active
      table.table.table-striped(border='2')
        tr
          th 
            span.glyphicon.glyphicon-triangle-bottom
            |  Form Name
          th 
            span.glyphicon.glyphicon-triangle-bottom
            |  Action
        tr
          td
            input.form-control(type='text' placeholder='name' ng-model='form.title')
          td
            i.glyphicon.glyphicon-plus(ng-click='addForm()')
            i.glyphicon.glyphicon-ok.pull-right(ng-click='updateForm()')
        tr(ng-repeat="form in forms")
          td {{form.title}}
          td
            i.glyphicon.glyphicon-remove(ng-click='deleteForm($index)')
            i.glyphicon.glyphicon-pencil.pull-right(ng-click='selectForm($index)')
