h1 Profile
hr
form.form-horizontal(ng-controller='ProfileController')
  div.form-group
    label.col-sm-2.control-label(for='inputUsername') Username
    div.col-sm-7
      input#inputUsername.form-control(type="text" placeholder='User Name' ng-model='username')
  div.form-group
    label.col-sm-2.control-label(for='inputPassword') Password
    div.col-sm-7
      input#inputPassword.form-control(type="password" placeholder='Password' ng-model='password')

  div.form-group
    label.col-sm-2.control-label(for='inputFirstName') First Name
    div.col-sm-7
      input#inputFirstName.form-control(type="text" placeholder='First Name' ng-model='firstName')

  div.form-group
    label.col-sm-2.control-label(for='inputLastName') Last Name
    div.col-sm-7
      input#inputLastName.form-control(type="text" placeholder='Last Name' ng-model='lastName')

  div.form-group
    label.col-sm-2.control-label(for='inputEmail') Email
    div.col-sm-7
      input#inputEmail.form-control(type="email" placeholder='Email' ng-model='email')
  div.form-group
    div.col-sm-offset-2.col-sm-7
      a.btn.btn-default(ng-click='update()') Update
